@model EnrollmentApplication.Models.Student

<div class="panel panel-primary">

    <div class="panel-heading">
        <h3 class="panel-title">Your student of the month is: @Model.StudentFirstName</h3>
    </div>
    <div class="panel-body">

        <div id="student-details">
            <p>
                <em>Student:</em>
                @Model.StudentFirstName
                @Model.StudentLastName
            </p>
            <p>

          
        </div>
    </div>
</div>
