@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Ryans Way<br />
    Bedford, OH 44146-6399<br />
    <abbr title="Phone">P:</abbr>
    216.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">RyanSupport@SchoolProject.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">RyansMarketing@SchoolProject.com</a>
</address>